<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>GameHub</display-name>
	<servlet>
		<servlet-name>Loader</servlet-name>
		<servlet-class>gen.Loader</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Online</servlet-name>
		<jsp-file>/online.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Category</servlet-name>
		<jsp-file>/showAll.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>landing</servlet-name>
		<jsp-file>/landing.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Sample</servlet-name>
		<jsp-file>/Sample.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Redirect</servlet-name>
		<jsp-file>/doiRedirect.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>entry</servlet-name>
		<jsp-file>/landingOffnet.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>thanks</servlet-name>
		<jsp-file>/ThanksPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>thanks</servlet-name>
		<url-pattern>/thanks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>entry</servlet-name>
		<url-pattern>/entry</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Redirect</servlet-name>
		<url-pattern>/Redirect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Sample</servlet-name>
		<url-pattern>/Sample</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>landing</servlet-name>
		<url-pattern>/landing</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Category</servlet-name>
		<url-pattern>/Category</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Online</servlet-name>
		<url-pattern>/Online</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Login</welcome-file>
	</welcome-file-list>
</web-app>